# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files (exclude go.mod — same suffix)
*.mod
!**/go.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Generated protobuf models
build

# Virtual environment
.venv
venv

# Mypy
.mypy_cache

# Release packages
release

# Tests
tests/**/tmp

# Devbox
.devbox